html {
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Monomakh";
  background-color: #ecedec;
  /* display: flex; */
  justify-content: center;
}

.list-task-text {
  font-size: large;
  color: black
}

#task-text {
  border-radius: 1%;
  transition: transform 500ms;
  margin: middle;
  height: 4%;
}

#task-text:hover {
  transform: scale(1.1);
  border-radius: 5%;
}

#add-task {
  color: black;
  background-color: aliceblue;
  border-radius: 3%;
  transition: transform 500ms;
  margin: 0;
}

#add-task:hover {
  color: black;
  background-color: aliceblue;
  border-radius: 5%;
  transform: scale(1.1);
}

#delete-button {
  color: black;
  background-color: aliceblue;
  border-radius: 3%;
  transition: transform 500ms;
  margin: 0;
}

#delete-button:hover {
  border-radius: 4%;
  transform: scale(1.1);
}

.checkbox {
  color: black;
  background-color: aliceblue;
  border-radius: 3%;
  transition: transform 500ms;
  margin: 0;
  height: 5%;
  margin: bottom 40px;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.0)
}

.checkbox:hover {
  border-radius: 4%;
  transform: scale(1.2);
}

.text-element {
  color: black;
  transition: transform 500ms;
}

.text-element:hover {
  color: black;
  transform: scale(1.2);
}

.logo {
  border-radius: 5%;
  width: 25%;
  height: 25%;
  transition: transform 800ms;
  display: block;
  margin: 0 auto;
}

.logo:hover {
  border-radius: 5%;
  transform: scale(1.2);
  margin: middle;
}

#handle {
  margin: middle;
}
/* button {
  color: black;
  background-color: aliceblue;
  border-radius: 3%;
  padding: 1%
} */


